.page {

}

.navbar {
	background-color: #003152; !important;
}

.navbar-collapse {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.header-name {
	font-size: 52px;
}

.navbar-nav {
	font-size: 32px;
	display: flex;
	justify-content: space-between;
}

.nav-item {
	margin-left: 5px;
	margin-right: 5px;
}

.home-banner {
	position: relative;
  	text-align: center;
}

.book-link {
	position: absolute;
	top: 85%;
	left: 35%;
	font-size: 28px;
}

.banner-photo {
}

.news-section {
	margin: 50px 50px;
}

.news-item {
	margin: 0px 200px 30px 20px; 
}

.news-headline {

}  

.news-text {
	margin: 20px 0px 0px 10px;
}

.bio-page {

}

.bio-pic {

}

.about-me {

}

.contact-header {

}

.contact-page {

}

.contact-pic {

}

.contact-me {

}

.contact-methods {

}

.contact-type {

}

.contact-details {

}

.new-release {

}

.new-release-title {

}

.summary {

}

.summary-header {

}

.characters {

}

.char-header {

}

.char-name {

}

.char-details {

}



.footer {

}
