.page {

}

.navbar {
	background-color: #003152; !important;
}

.navbar-collapse {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.header-name {
	font-size: 52px;
	color: #C0C0C0;
}

.navbar-nav {
	font-size: 32px;
	display: flex;
	justify-content: space-between;
}

.nav-item {
	margin-left: 5px;
	margin-right: 5px;
}

.home-banner {
	position: relative;
  	text-align: center;
}

.book-link {
	position: absolute;
	top: 88%;
	left: 40%;
	font-size: 28px;
}

.banner-photo {
}

.news-section {
	margin: 50px 50px;
}

.news-item {
	margin: 0px 200px 30px 20px; 
}

.news-headline {

}  

.news-text {
	margin: 20px 0px 0px 10px;
}

.bio-page {
	
}

.bio-pic {
	width: 16%;
	height: 16%;
	float: right;
	margin: 20px 80px 30px 50px;
}

.about-me {
	margin: 30px 30px;
}

.bio-p, .contact-methods {
	margin: 10px 200px 20px 80px;
}

.contact-header {
	margin: 30px 0px 30px 150px;
}

.contact-page {
	display: flex;
	justify-content: space-between;
	margin: 10px 80px 30px 80px;
}

.contact-pic {
	width: 25%;
	height: 25%;
	order: 1;
	margin-right: 80px;
}

.contact-me {

}

.contact-methods {

}

.contact-type {

}

.contact-details {

}

.new-release {

}

.new-release-title {
	margin: 30px 0px 30px 150px;
}

.summary {

}

.summary-header {
}

.characters {
	margin: 30px 0px 30px 150px;
}

.char-header {

}

.char-name {

}

.char-details {

}



.footer {
	text-align: center;
	margin: 50px 30px;
}
